<div class="h-100" >
  <div class="h-100 d-flex flex-column justify-content-center align-items-center">
    <h1 class="text-center">Nelly</h1>
    <img src="assets/images/teddy-bear.svg" class="img-fluid rounded-circle" [width]="400" [height]="400">
    <h1 class="text-center">Would you be my valentine? <img class="img-fluid" src="assets/images/rose.svg" [width]="50" [height]="50"></h1>
    <div class="row w-100 mt-4">
      <div class="col-6 text-end">
        <button type="button" class="btn btn-primary btn-lg" (click)="onYesButtonClickHandler()">Yes, of course!</button>
      </div>
      <div class="col-6">
        <button type="button" class="btn btn-danger btn-lg" (click)="onNoButtonclickHandler()">No, you're ugly!</button>
      </div>
    </div>
  </div>
  
</div>
<router-outlet />
